@charset "UTF-8";

.member_info .detail_info{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #999999;
}

.member_info {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.member_info h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.7rem;
    font-weight: 500;
}